<footer>
      <div class="container">
        <div class="row">
          
          <div class="col-md-4">©2018</div>
          
          <div class="col-md-4">
              <ul class="nav nav-pills nav-justified">
                <li><%= link_to "Home", root_path %></li>
                <li><%= link_to "Contact", contact_path %></li>
                <li><%= link_to "Follow", follow_path %></li>
              </ul>


          </div>


        </div>



      </div>
</footer>