<div class="row">
<div class="page-header">
	<div class="panel-heading panel-title text-center">

		<h1>Give Me a Follow!</h1>
	</div>
</div>

<div class="panel-body">
	<div class="panel-body text-center">
			<h2>Facebook</h2>
			<h4>facebook.com/erincarterart</h4>
			<br>


			<h2>Instagram</h2>
			<h4>@_carter_sauce</h4>
			<br>
			
			<h2>Etsy</h2>
			<h4>Etsy.com/ErinCarterArt</h4>
			<br>
		</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>

<%= render 'footer' %>